<h3 style='display:{{#if IsFilterVisible}}inherit{{else}}none{{/if}}'><a href='#' title={{Name}}>{{Name}}</a>
	<div class='pv-filterpanel-accordion-heading-clear' facetType='{{Type}}'>&nbsp;</div>
</h3>
<div style='display:{{#if IsFilterVisible}}inherit{{else}}none{{/if}}' id='pv-cat-{{Clean Name}}'>
	{{#if CustomSort}}
	<span class='pv-filterpanel-accordion-facet-sort' customSort='{{CustomSort.Name}}'>Sort: {{CustomSort.Name}}</span>
	{{else}}
	<span class='pv-filterpanel-accordion-facet-sort'>Sort: A-Z</span>
	{{/if}}
	<ul class='pv-filterpanel-accordion-facet-list' style='{{style}}'>
		{{#each items}}
		<li class='pv-filterpanel-accordion-facet-list-item'  id='{{itemId}}'>
			<input itemvalue='{{Clean itemValue}}' itemfacet='{{Clean facet}}' class='pv-facet-facetitem' type='checkbox' />
			<span class='pv-facet-facetitem-label' title='{{itemValue}}'>{{itemValue}}</span>
			<span class='pv-facet-facetitem-count'>0</span>
		</li>
		{{/each}}	
	</ul>
</div>