<div class='pv-infopanel-heading'><a href='{{Href}}' target='_blank'>{{Name}}</a></div>
<div class='pv-infopanel-details'>
	{{#if Description}}
		<div class='pv-infopanel-detail-description' style='height:100px;'>{{Description}}</div>
		<div class='pv-infopanel-detail-description-more'>More</div>
	{{/if}}
	{{#each Facets}}
		{{#if IsMetaDataVisible}}
			<div class='pv-infopanel-detail {{#if alternate}}detail-dark{{else}}detail-light{{/if}}'>
				<div class='pv-infopanel-detail-item detail-item-title'>{{Name}}</div>
				{{#each FacetValues}}
				<div class='pv-infopanel-detail-item detail-item-value {{#if ../IsFilterVisible}}detail-item-value-filter{{/if}}'>
					{{#if Href}}
					<a class='detail-item-link' href='{{Href}}' target='_blank'>{{Value}}</a>
					{{else}}
					{{Value}}
					{{/if}}
				</div>
				{{/each}}
			</div>
		{{/if}}
	{{/each}}
	<div class='pv-infopanel-related'>
		{{#each Links}}
			<a href='{{Href}}' target='_blank'>{{Name}}</a><br/>
		{{/each}}
	</div>
</div>